@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900');

body {
    margin-top: 0;
    position: relative;
    width: 100%;
    background-color: #E6DBCF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #9E9595;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}
a:hover,
a:focus,
a:active,
a:visited {
        background-color: rgba(241, 241, 241, 0.5);
        text-decoration: none;
        color: #363333;
}

hr {
    border-top: 1px solid #9E9595;
}

.section-header {
    margin-bottom: 50px;
}
.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 0.875em;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-xs {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.188em;
    padding: 8px 16px;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    border-color: #FF6D00;
    background: #FF6D00;
}
.btn:hover {
    background: #f8a668;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    background: transparent;
    color: #fff;
}
.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
}
.container {
    /* max-width: 968px; */
    max-width: 1080px;
}
.container-fluid {
    padding: 0 -15px 0 -15px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
}

/* -- HEADER -- */

.site-header {
    background-color: rgba(54, 51, 52, .85);
}
.site-header a {
    color: rgba(230, 219, 207, 1);
    transition: ease-in-out color .15s;
}

@media (min-width: 768px) {
    .nav {
        position: fixed;
        z-index: 100;
    }
    .navbar {
        background-color: rgba(54, 51, 51, 0.8);
    }
    .nav-link {
        display: block;
        font-size: .8em;
        margin: 0.2rem 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link, a {
        color: #FFF;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #D7B045;
        background-color: transparent;
    }
}

/* -- CONTENT -- */

@media (min-width: 1400px) {
    #home {
        height: 968px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #title {
        text-align: center;
        margin: 50px 0;
    }
    #title h1 {
        font-size: 1.3em;
        font-weight: 200;
        margin-bottom: 0px;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        /* background-color: rgba(241, 241, 241, .5); */
        border-radius: 5px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #flights-hotels h5 {
        font-weight: 200;
        margin-bottom: 10px;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px){

}

@media (min-width: 420px) and (max-width: 767px){

}

@media (min-width: 370px) and (max-width: 420px){

}

@media (max-width: 370px){

}
