@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900');

body {
    margin-top: 0;
    position: relative;
    width: 100%;
    background-color: #E6DBCF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

a {
    color: #9E9595;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}
a:hover,
a:focus,
a:active,
a:visited {
        background-color: rgba(241, 241, 241, 0.5);
        text-decoration: none;
        color: #363333;
}

hr {
    border-top: 1px solid #9E9595;
}

.section-header {
    margin-bottom: 50px;
}
.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #000;
    border-width: 0;
    border-radius: 3px;
    background-color: #transparent;
}
.btn-xs {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.188em;
    padding: 8px 16px;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    border-color: #FF6D00;
    background: #FF6D00;
}
.btn:hover,
.btn:focus,
.btn:active {
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
    color: #000;
}
.btn-primary:hover,
.btn-primary:focus {
    background: transparent;
    color: #fff;
}
.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
}
.container {
    max-width: 1080px;
}
.container-fluid {
    padding: 0 -15px 0 -15px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
}

/* -- HEADER -- */

.site-header {
    background-color: rgba(54, 51, 52, .85);
}
.site-header a {
    color: rgba(230, 219, 207, 1);
    transition: ease-in-out color .15s;
}
.navbar-light .navbar-toggler {
    border: none;
    z-index: 10;
}
.navbar {
    background-color: rgba(54, 51, 51, 0);
}

@media (min-width: 991px) {
    .nav {
        position: fixed;
        z-index: 100;
    }
    .navbar {
        background-color: rgba(54, 51, 51, 0.8);
    }
    .nav-link {
        display: block;
        font-size: .8em;
        margin: 0.2rem 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link, a {
        color: #FFF;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #D7B045;
        background-color: transparent;
    }
}

/* -- CONTENT -- */

@media (min-width: 1400px) {
    #home {
        height: auto;
        padding-bottom: 20px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: 200px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .850em;
        margin-bottom: 0;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        line-height: 2;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #flights-hotels .fh-content {
        padding: 20px 30px;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels #tips #transportation {
        padding: 10px 20px 15px 20px;
        border: 3px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #tips #transportation i {
        font-size: 1.7em;
        color: #fff;
        padding-top: 4px;
    }
    #flights-hotels h3 {
        margin-bottom: 10px;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #tips p {
        line-height: 2;
    }
    #flights-hotels #hotel img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title h1 {
        font-size: 1.3em;
        font-weight: 200;
        margin-bottom: 0px;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: 200px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .850em;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 150px 0;
        padding-top: 50px;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #flights-hotels img {
        margin-bottom: 30px;
    }
    #flights-hotels h5 {
        font-weight: 200;
        margin-bottom: 10px;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 150px 0;
        padding-top: 50px;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 150px 0;
        padding-top: 50px;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 0 150px 0;
        padding-top: 50px;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: auto;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .750em;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #flights-hotels img {
        margin-bottom: 30px;
    }
    #flights-hotels h5 {
        font-weight: 200;
        margin-bottom: 10px;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 0 150px 0;
        padding-top: 50px;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: 70px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .850em;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #flights-hotels img {
        margin-bottom: 30px;
    }
    #flights-hotels h5 {
        font-weight: 200;
        margin-bottom: 10px;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 0 150px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}

@media (min-width: 420px) and (max-width: 767px){
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 );
        max-width: 300px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: 50px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.3rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .650em;
        font-weight: 200;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding h3 {
        font-size: 1.5em;
    }
    #pre-wedding h5 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    #pre-wedding p {
        font-size: .85em;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-weight: 200;
    }
    #flights-hotels img {
        margin-bottom: 30px;
    }
    #flights-hotels h3 {
        font-size: 1.5em;
    }
    #flights-hotels h5 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    #flights-hotels p {
        font-size: .75em;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-height: 60px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}

@media (min-width: 370px) and (max-width: 420px){
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 );
        max-width: 300px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: 100px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.2rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .650em;
        font-weight: 200;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding h3 {
        font-size: 1.5em;
    }
    #pre-wedding h5 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    #pre-wedding p {
        font-size: .85em;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-weight: 200;
    }
    #flights-hotels img {
        margin-bottom: 30px;
    }
    #flights-hotels h3 {
        font-size: 1.5em;
    }
    #flights-hotels h5 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    #flights-hotels p {
        font-size: .75em;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-width: 80px;
        max-height: 60px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}

@media (max-width: 370px){
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 );
        max-width: 300px;
    }
    #title {
        text-align: center;
        margin: 0;
    }
    #title img {
        max-width: 180px;
    }
    #assets {
        text-align: center;
    }
    #assets img {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    #accordion {
        margin-bottom: 100px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.2rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .650em;
        font-weight: 200;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    }
    #pre-wedding h3 {
        font-size: 1.5em;
    }
    #pre-wedding h5 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    #pre-wedding p {
        font-size: .85em;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 1px solid #9E9595;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-weight: 200;
    }
    #flights-hotels img {
        margin-bottom: 30px;
    }
    #flights-hotels h3 {
        font-size: 1.5em;
    }
    #flights-hotels h5 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    #flights-hotels p {
        font-size: .75em;
    }
    #flights-hotels #hotel {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #flights-hotels #hotel img {
        max-height: 60px;
        margin-bottom: 30px;
    }
    #flights-hotels #flights img {
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 3px;
        max-height: 100px;
        margin-bottom: 30px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }

    /*----- Dress Code -----*/

    #dress-code {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #dress-code img {
        margin-bottom: 30px;
    }

    /*----- Getting There -----*/

    #getting-there {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #getting-there img {
        margin-bottom: 30px;
    }

    /*----- Registry -----*/

    #registry {
        margin: 0px 0 20px 0;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry img {
        margin-bottom: 30px;
    }
}
