@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900');

body {
    margin-top: 0;
    position: relative;
    width: 100%;
    background-color: #E6DBCF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

a {
    color: #363333;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}
a:hover,
a:focus,
a:active,
a:visited {
        background-color: rgba(241, 241, 241, 0.5);
        text-decoration: none;
        color: #363333;
}

hr {
    border-top: 1px solid #9E9595;
}

.section-header {
    margin-bottom: 50px;
}
.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #000;
    border-width: 0;
    border-radius: 2px;
    background-color: #transparent;
}
.btn-xs {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 1.188em;
    letter-spacing: 2px;
    padding: 4px 12px;
    color: #363333;
    border-width: 0;
    border-radius: 3px;
    border-color: #DFB4A1;
    background: #D7B045;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #FFE59C;
    color: #363333;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 229, 156, .5);
}
.btn-primary:hover, {
    background: #fff;
    color: #363333;
}
.btn:hover,
.btn:focus,
.btn:active {
    background: rgba(255, 255, 255, .9);
    text-decoration: none;
    color: #000;
}
.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
}
.container {
    max-width: 1080px;
}
.container-fluid {
    padding: 0 -15px 0 -15px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
}

/* -- CONTENT -- */

@media (min-width: 1400px) {
    #home .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .85em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home .language-switch a:hover {
        background-color: #fff;
        padding: 5px 10px;
        font-size: .85em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 20px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 - 20px);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 30px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .850em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding p {
        line-height: 2;
    }
    #pre-wedding img {
        margin-bottom: 30px;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        line-height: 1.5;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        line-height: 2;
        margin-bottom: 60px;
    }
    #flights-hotels .fh-content
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        padding: 10px 20px 15px 20px;
        border: 6px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }
    #flights-hotels #tips p {
        line-height: 2;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    #dress-code #tips {
        padding: 20px;
    }
    #dress-code #tips h3 {
        line-height: 1.5;
        margin-bottom: 10px;
    }
    #dress-code #tips h5 {
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note {
        margin-bottom: 10px;
    }
    #dress-code #note p {
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px;
    }
    #getting-there #vans p {
        font-size: 1.5em;
        line-height: 2;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.5em;
        line-height: 2;
        text-align: center;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .85em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home .language-switch a:hover {
        background-color: #fff;
        padding: 5px 10px;
        font-size: .85em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 - 20px);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 30px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.15rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .850em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body label > input, select {
        background-color: red;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding br {
        display: visible;
    }
    #pre-wedding p {
        line-height: 2;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        line-height: 1.5;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        line-height: 2;
        margin-bottom: 60px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        padding: 10px 20px 15px 20px;
        border: 6px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }
    #flights-hotels #tips p {
        line-height: 2;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    #dress-code #tips {
        padding: 20px;
    }
    #dress-code #tips h3 {
        line-height: 1.5;
        margin-bottom: 10px;
    }
    #dress-code #tips h5 {
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note p {
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px;
    }
    #getting-there #vans p {
        font-size: 1.5em;
        line-height: 2;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.5em;
        line-height: 2;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home .language-switch a:hover {
        background-color: #fff;
        padding: 5px 10px;
        font-size: .85em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 20%);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 15px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.15rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .750em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body label > input, select {
        background-color: red;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding .plan-header br {
        display: none;
    }
    #pre-wedding p {
        line-height: 2;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 30px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        line-height: 1.5;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-weight: 200;
        margin-bottom: 30px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        padding-left: 20px;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        line-height: 2;
        margin-bottom: 60px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        padding: 10px 20px 15px 20px;
        border: 6px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }
    #flights-hotels #tips p {
        line-height: 2;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 2;
    }
    #dress-code #tips {
        padding: 20px 0;
    }
    #dress-code #tips h3 {
        line-height: 1.5;
        margin-bottom: 10px;
    }
    #dress-code #tips h5 {
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note p {
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px;
    }
    #getting-there #vans p {
        font-size: 1.2em;
        line-height: 2;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.5em;
        line-height: 2;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home .language-switch a:hover {
        background-color: #fff;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 - 20px);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 15px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.15rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .750em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body label > input, select {
        background-color: red;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding .plan-header br {
        display: none;
    }
    #pre-wedding p {
        line-height: 1.5;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 10px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        font-size: 1.65em;
        line-height: 1.3;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        padding-left: 20px;
        font-size: .75em;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        margin-bottom: 60px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px 0;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels h3 {
        font-size: 1.65em;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        text-align: center;
        font-size: .75em;
        padding: 10px 20px 15px 20px;
        border: 6px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #tips #transportation a {
        margin-top: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #dress-code #tips {
        padding: 20px 0 0 0;
    }
    #dress-code #tips h3 {
        font-size: 1.65em;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    #dress-code #tips h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note p {
        font-size: .75em;
        max-width: 200px;
        text-align: center;
        margin:0 auto 20px auto;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px;
    }
    #getting-there #vans p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
}

@media (min-width: 420px) and (max-width: 767px){
    .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home .language-switch a:hover {
        background-color: #fff;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 15px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.15rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .750em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body label > input, select {
        background-color: red;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding .plan-header br {
        display: none;
    }
    #pre-wedding p {
        line-height: 1.5;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 10px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        font-size: 1.65em;
        line-height: 1.3;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        margin-left: 50px;
        font-size: .75em;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        margin-bottom: 60px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px 0;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels h3 {
        font-size: 1.65em;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        text-align: center;
        font-size: .75em;
        padding: 10px 20px 15px 20px;
        border: 6px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #tips #transportation a {
        margin-top: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #dress-code #tips {
        padding: 20px 0 0 0;
    }
    #dress-code #tips h3 {
        font-size: 1.65em;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    #dress-code #tips h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note p {
        font-size: .75em;
        max-width: 200px;
        text-align: center;
        margin:0 auto 20px auto;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px;
    }
    #getting-there #vans p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
}

@media (min-width: 370px) and (max-width: 420px){
    .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 15px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.15rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .750em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body label > input, select {
        background-color: red;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding .plan-header br {
        display: none;
    }
    #pre-wedding p {
        line-height: 1.5;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 10px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        font-size: 1.65em;
        line-height: 1.3;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        margin-left: 50px;
        font-size: .75em;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        margin-bottom: 60px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px 0;
    }
    #flights-hotels #tips ul {
        line-height: 2;
    }
    #flights-hotels h3 {
        font-size: 1.65em;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        text-align: center;
        font-size: .75em;
        padding: 10px 20px 15px 20px;
        border: 6px solid #fff;
        margin-bottom: 20px;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #tips #transportation a {
        margin-top: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #dress-code #tips {
        padding: 20px 0 0 0;
    }
    #dress-code #tips h3 {
        font-size: 1.65em;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    #dress-code #tips h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note p {
        font-size: .75em;
        max-width: 200px;
        text-align: center;
        margin:0 auto 20px auto;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px;
    }
    #getting-there #vans p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
}

@media (max-width: 370px){
    .language-switch a {
        background-color: #DFB4A1;
        padding: 5px 10px;
        font-size: .8em;
        border-radius: 0px 0px 3px 3px;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #home {
        height: auto;
        padding-bottom: 30px;
        background-color: #E6DBCF;
        text-align: center;
    }
    #home #first-view img {
        margin-top: calc(50%/2 + 9%);
        max-width: 500px;
    }
    #accordion {
        margin-bottom: 15px;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: none;
    }
    .card-header {
        padding: 0.15rem 1.25rem;
        margin-bottom: 0;
        text-align: center;
        background-color: transparent;
        border-bottom: none;
    }
    .card-header h6 {
        font-size: .750em;
        margin-bottom: 0;
    }
    #frame {
        border: 2px solid #fff;
        border-radius: 2px;
    }

    /*----- Modal -----*/

    .modal-content {
        background-color: #E6DBCF;
        font-family: 'Open Sans', sans-serif ;
        border: 0;
        border-radius: 3px;
    }
    .modal-header {
        border-bottom: 0;
        padding-top: 1em;
    }
    .modal-body {
        text-align: center;
    }
    .modal-body h2{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-weight: 200;
    }
    .modal-body legend {
        font-size: 1em;
        color: #363333;
    }
    .modal-body #rsvp {
        text-align: left;
    }
    .modal-body label > input {
        margin-right: 10px;
    }
    .modal-body label > input, select {
        background-color: red;
    }
    .modal-body .form-control {
        font-size: 1em;
        background-color: #fff;
        border: 0;
        border-radius: 3px;
    }

    /*----- Pre Wedding -----*/

    #pre-wedding {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    #pre-wedding .plan-header br {
        display: none;
    }
    #pre-wedding p {
        line-height: 1.3;
    }
    #pre-wedding #plans {
        margin-bottom: 20px;
        padding: 20px 10px;
        border-radius: 5px;
    }
    #pre-wedding #plans h3 {
        font-size: 1.45em;
        line-height: 1.4;
        font-style: italic;
        margin-bottom: 10px;
    }
    #pre-wedding #plans h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #pre-wedding #plans .plan-info {
        border-left: 2px solid #fff;
        margin-left: 50px;
        font-size: .75em;
    }

    /*----- Flights and Hotels -----*/

    #flights-hotels {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.3;
    }
    #flights-hotels .fh-content a {
        color: #363333;
        background-color: #fff;
        padding: 2px 7px;
        border-radius: 2px;
        margin-bottom: 60px;
    }
    #flights-hotels
    a:hover,
    a:focus,
    a:active,
    a:visited{
        background-color: #DFB4A1;
    }
    #flights-hotels #tips, #accomodations {
        padding: 20px 0;
    }
    #flights-hotels #tips ul {
        line-height: 1.3;
    }
    #flights-hotels #tips li {
        margin-bottom: 7px;
    }
    #flights-hotels h3 {
        font-size: 1.45em;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    #flights-hotels #tips h6 {
        font-weight: bold;
    }
    #flights-hotels #tips #transportation {
        text-align: center;
        font-size: .75em;
        padding: 10px;
        border: 6px solid #fff;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    #flights-hotels #tips #transportation p {
        margin-bottom: 5px;
    }
    #flights-hotels #tips #transportation a {
        margin-top: 5px;
    }
    #flights-hotels #accomodations a {
        line-height: 3;
    }

    /*----- Dress Code -----*/

    #dress-code {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.5;
    }
    #dress-code #tips {
        padding: 20px 0 0 0;
    }
    #dress-code #tips h3 {
        font-size: 1.45em;
        line-height: 1.3;
        margin-bottom: 5px;
    }
    #dress-code #tips h5 {
        font-size: 1.25em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    #dress-code #note p {
        font-size: .75em;
        max-width: 200px;
        text-align: center;
        margin:0 auto 20px auto;
        font-style: italic;
    }

    /*----- Lookbook -----*/

    #lookbook #lookbook-images {
        margin: 20px 0;
    }
    #lookbook #lookbook-images img {
        border-radius: 3px;
        margin: 3px 0 20px 0;
    }

    /*----- Getting There -----*/

    #getting-there {
        height: auto;
        font-family: 'Open Sans', sans-serif;
    }
    #getting-there #vans {
        padding: 20px 0;
    }
    #getting-there #vans p {
        font-size: 1em;
        line-height: 1.5;
        text-align: center;
    }
    /*----- Registry -----*/

    #registry {
        height: auto;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    #registry #instructions p {
        font-size: 1.1em;
        line-height: 2;
        text-align: center;
    }
}
